<div class="container">
    <h1>{{title}}</h1>
    <div id="chart"></div>
    <script>
        // Use the passed data
        var passedData = {{{json coffeeData}}}; // Handlebars unescapes HTML-safe JSON

        // Filter, sort, and map data for chart series
        var filteredData = [{
            name: "Coffee Series 1",
            data: passedData.data
                .filter(item => item.date !== null && item.value !== ".")
                .sort((a, b) => new Date(a.date) - new Date(b.date))
                .map(item => ({
                    x: new Date(item.date),
                    y: parseFloat(item.value)
                }))
        }];

        // Log filtered data to console
        console.log(filteredData);

        // Chart configuration
        var options = {
            chart: {
                height: 380,
                width: "100%",
                type: "area",
                animations: {
                    initialAnimation: {
                        enabled: true
                    }
                }
            },
            series: filteredData,
            xaxis: {
                type: "datetime"
            },
            dataLabels:{
                enabled: false
            },
            
        };

        // Initialize and render the chart
        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
    </script>
</div>
