<!DOCTYPE html>
<html data-bs-theme="light">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/apexcharts/apexcharts.min.js"></script>
  </head>
  <body>
    {{> navbar }}
    {{{body}}}
    {{!-- {{> footer }} --}}
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    
    {{!-- <script src="/chart/chart.js"></script> --}}
    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> --}}
  </body>
</html>
